.margin-desktop {
  margin-top: 1.3rem;
}

@media screen and (max-width: 767px) {
  .nav-show {
    height: auto !important;
  }

  .top-mobile {
    border-top: 1px solid gray !important;
  }

  .hero-title h2 {
    padding-top: 1rem !important;
  }

  .margin-desktop {
    margin-top: 0;
  }
}
