
@media (max-width: 767px) {
  .nav-show {
    display: flex;
  }

  .side-hide {
    display: none !important;
  }

  .rigth-border {
    width: 100%;
  }

  .d-show {
    display: block !important;
    background-color: rgb(255, 255, 255) !important;
  }
}
