
.swiper img {
  max-height: 300px !important;
}

.description-text {
  font-size: 12px;
  font-weight: 300;
}

.text-size {
  font-size: 12px;
  font-weight: 300;
}

.long-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
